body, html {

	background:#000000;
	background-size:cover;
	background-repeat:no-repeat;
	overflow:hidden;
}

@font-face {

	font-family:pixel;
	src:url(../fonts/pixel.ttf);
}

#titleText {

	position:relative;
	font-family:pixel;
	font-size:24px;
	font-weight:regular;
	color:#ffffff;
}
